header {
  width: 100vw;
  height: 120px;
  background-color: #808080;
}

header h3 {
  font-family: 'Diablo3';
  font-size: 40px;
  text-align: center;
  color: white;
}

header nav {
  margin-top: 10px;
}

header nav ul {
  width: 1200px;
  margin: 0 auto;
}

header nav ul a {
  float: left;
  font-family: 'Diablo3';
  font-size: 25px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 7px 5px -3px black;
  padding: 5px 7px 5px 7px;
  margin: 0 10px 0 10px;
  transition: all .5s ease;
}

header nav ul a:hover {
  transition: all .5s ease;
  margin-top: 5px;
}

header nav ul a:first-of-type {
  margin-left: 0;
}

header nav ul a:last-of-type {
  margin-right: 0;
}

header nav ul .active {
  color: lime;
  border: 1px solid lime;
  cursor: default;
}

header nav ul .active:hover {
  margin-top: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 55px;
  background: linear-gradient(#9a9a9a, #5a5a5a);
}

footer p {
  color: white;
  text-align: center;
  font-family: 'Diablo3';
}

footer p:first-of-type {
  margin-top: 10px;
}

.bg {
  background: url("../img/background.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bg .landingPage_Wrapper {
  width: 80vw;
  margin: 0 auto;
  height: 20vh;
  padding-top: 45%;
  transform: translateY(-50%);
  font-family: 'Diablo3';
  font-size: 40px;
  text-align: center;
}

.bg .landingPage_Wrapper h1 {
  margin-bottom: 50px;
  color: white;
}

.bg .landingPage_Wrapper a {
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  transition: all .5s ease;
}

.bg .landingPage_Wrapper a:hover {
  transition: all .5s ease;
  margin-left: 10px;
}

.input-wrapper {
  width: 400px;
  margin: 0 auto;
}

.input-wrapper input[name="BattleTag"] {
  height: 35px;
  width: 250px;
  font-size: 20px;
  padding: 5px 0 5px 10px;
  border-radius: 5px;
}

.input-wrapper input[name="search"] {
  margin-left: 15px;
  font-family: 'Diablo3';
  font-weight: bold;
  height: 35px;
  width: 120px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: bottom;
}

.account-wrapper {
  width: 1410px;
  height: 600px;
  margin: 0 auto;
  margin-top: 25px;
}

.account-wrapper .char {
  position: relative;
  float: left;
  width: 450px;
  height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.25);
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 5px -2px black;
}

.account-wrapper .char .icon, .account-wrapper .char p, .account-wrapper .char .leaf {
  position: absolute;
}

.account-wrapper .char .icon {
  left: 10px;
  top: 10px;
  width: 42px;
  height: 42px;
}

.account-wrapper .char p {
  font-family: 'Diablo3';
  font-size: 20px;
  color: white;
  text-shadow: 1px 2px black;
  font-weight: bold;
  line-height: 18px;
  left: 62px;
}

.account-wrapper .char .name {
  top: 10px;
}

.account-wrapper .char .class {
  top: 40px;
}

.account-wrapper .char .level {
  top: 70px;
}

.account-wrapper .char .plevel {
  top: 70px;
  left: 200px;
  color: #66d9ff;
  text-shadow: 1px 2px blue;
}

.account-wrapper .char .leaf {
  right: -5px;
  top: 10px;
  clip: rect(0, 24px, 31px, 0px);
}

.account-wrapper .hc_char {
  border: 2px solid red;
}

.account-wrapper .hc_char:hover {
  content: "test";
}

.account-wrapper h1 {
  font-family: 'Diablo3';
  font-weight: bold;
  text-align: center;
}

.char-wrapper {
  width: 350px;
  height: 650px;
  background-color: #cc8800;
  border-radius: 10px;
}

.char-wrapper .text-wrapper {
  height: 50px;
  padding-top: 2px;
}

.char-wrapper .text-wrapper ul {
  width: 280px;
  margin: 0 auto;
  font-family: 'Diablo3';
  font-size: 20px;
  font-weight: bold;
  padding: 2px 0 2px 0;
  position: relative;
}

.char-wrapper .text-wrapper ul:last-of-type {
  margin-top: 25px;
}

.char-wrapper .text-wrapper ul li {
  position: absolute;
  left: 0;
}

.char-wrapper .text-wrapper ul li:last-of-type {
  right: 0;
  text-align: right;
}

.char-wrapper hr {
  margin: 10px 0 10px 0;
}

.char-wrapper .slot-wrapper {
  height: 430px;
  position: relative;
}

.char-wrapper .slot-wrapper .slot {
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.33);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}

.char-wrapper .slot-wrapper .head-slot {
  width: 66px;
  height: 66px;
  left: 142px;
}

.char-wrapper .slot-wrapper .shoulder-slot {
  width: 66px;
  height: 88px;
  left: 55px;
  top: 33px;
}

.char-wrapper .slot-wrapper .amulet-slot {
  width: 56px;
  height: 56px;
  right: 60px;
  top: 43px;
}

.char-wrapper .slot-wrapper .glove-slot {
  width: 66px;
  height: 88px;
  left: 40px;
  top: 133px;
}

.char-wrapper .slot-wrapper .chest-slot {
  width: 82px;
  height: 115px;
  left: 134px;
  top: 80px;
}

.char-wrapper .slot-wrapper .bracer-slot {
  width: 66px;
  height: 88px;
  right: 40px;
  top: 133px;
}

.char-wrapper .slot-wrapper .left_ring-slot {
  width: 42px;
  height: 42px;
  left: 50px;
  top: 230px;
}

.char-wrapper .slot-wrapper .belt-slot {
  width: 82px;
  height: 34px;
  left: 134px;
  top: 200px;
}

.char-wrapper .slot-wrapper .right_ring-slot {
  width: 42px;
  height: 42px;
  right: 50px;
  top: 230px;
}

.char-wrapper .slot-wrapper .pants-slot {
  width: 66px;
  height: 88px;
  left: 142px;
  bottom: 100px;
}

.char-wrapper .slot-wrapper .weapon-slot {
  width: 66px;
  height: 130px;
  left: 40px;
  bottom: 15px;
}

.char-wrapper .slot-wrapper .boot-slot {
  width: 66px;
  height: 88px;
  left: 142px;
  bottom: 0px;
}

.char-wrapper .slot-wrapper .offhand-slot {
  width: 66px;
  height: 130px;
  right: 40px;
  bottom: 15px;
}

.char-wrapper .skill-wrapper {
  padding-top: 10px;
}

.char-wrapper .skill-wrapper a {
  pointer-events: none;
  margin: 0 3px 0 9px;
}

.char-wrapper .skill-wrapper a label {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.char-wrapper .skill-wrapper a label:before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: url("../img/skill-overlays.png");
}

.char-wrapper .skill-wrapper a label object {
  border-radius: 5px;
}

.char-wrapper .skill-wrapper a label object img {
  width: 42px;
  height: 42px;
}

.char-wrapper .skill-wrapper a .left_mouse:before {
  background-position: 0 -1px;
}

.char-wrapper .skill-wrapper a .right_mouse:before {
  background-position: -21px -1px;
}

.char-wrapper .skill-wrapper a .skill_1:before {
  background-position: 0 -23px;
}

.char-wrapper .skill-wrapper a .skill_2:before {
  background-position: -23px -23px;
}

.char-wrapper .skill-wrapper a .skill_3:before {
  background-position: 0 -46px;
}

.char-wrapper .skill-wrapper a .skill_4:before {
  background-position: -23px -46px;
}

.char-wrapper .passive-wrapper {
  width: 230px;
  margin: 0 auto;
  margin-top: 15px;
}

.char-wrapper .passive-wrapper a {
  pointer-events: none;
  margin: 0 4px 0 8px;
}

.char-wrapper .passive-wrapper a object {
  border-radius: 5px;
}

header nav ul, .account-wrapper {
  *zoom: 1;
}

header nav ul:before, .account-wrapper:before, header nav ul:after, .account-wrapper:after {
  content: "";
  display: table;
}

header nav ul:after, .account-wrapper:after {
  clear: both;
}

@font-face {
  font-family: 'Diablo3';
  src: url("exocet-blizzard-light.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

main {
  height: 900px;
  width: 100vw;
  background-color: #d3d3d3;
  padding: 50px;
}
