header {
  width: 100vw;
  height: 120px;
  background-color: #808080;
}

header h3 {
  font-family: 'Diablo3';
  font-size: 40px;
  text-align: center;
  color: white;
}

header nav {
  margin-top: 10px;
}

header nav ul {
  width: 845px;
  margin: 0 auto;
}

header nav ul a {
  float: left;
  font-family: 'Diablo3';
  font-size: 25px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 7px 5px -3px black;
  padding: 5px 7px 5px 7px;
  margin: 0 10px 0 10px;
}

header nav ul a:first-of-type {
  margin-left: 0;
}

header nav ul a:last-of-type {
  margin-right: 0;
}

header nav ul .active {
  color: lime;
  border: 1px solid lime;
  cursor: default;
}

header nav ul .active:hover {
  margin-top: 0;
}

header nav .special {
  width: 1200px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 55px;
  background: linear-gradient(#9a9a9a, #5a5a5a);
}

footer p {
  color: white;
  text-align: center;
  font-family: 'Diablo3';
}

footer p:first-of-type {
  margin-top: 10px;
}

.bg {
  background: url("../img/background.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bg .landingPage_Wrapper {
  width: 80vw;
  margin: 0 auto;
  height: 20vh;
  padding-top: 45%;
  transform: translateY(-50%);
  font-family: 'Diablo3';
  font-size: 40px;
  text-align: center;
}

.bg .landingPage_Wrapper h1 {
  margin-bottom: 50px;
  color: white;
}

.bg .landingPage_Wrapper a {
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  transition: all .5s ease;
}

.bg .landingPage_Wrapper a:hover {
  transition: all .5s ease;
  margin-left: 10px;
}

.input-wrapper {
  width: 530px;
  margin: 0 auto;
}

.input-wrapper select[name="continent"] {
  width: 130px;
  height: 35px;
  font-family: 'Diablo3';
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  padding-left: 5px;
  vertical-align: bottom;
}

.input-wrapper input[name="BattleTag"] {
  height: 35px;
  width: 250px;
  font-size: 20px;
  padding: 5px 0 5px 10px;
  border-radius: 5px;
  margin: 0 10px 0 10px;
  vertical-align: bottom;
}

.input-wrapper input[name="search"] {
  font-family: 'Diablo3';
  font-weight: bold;
  height: 35px;
  width: 120px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: bottom;
}

.account-wrapper {
  width: 1410px;
  height: 600px;
  margin: 0 auto;
  margin-top: 25px;
}

.account-wrapper .char {
  position: relative;
  float: left;
  width: 450px;
  height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.25);
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 5px -2px black;
}

.account-wrapper .char .icon, .account-wrapper .char p, .account-wrapper .char .leaf {
  position: absolute;
}

.account-wrapper .char .icon {
  left: 10px;
  top: 10px;
  width: 42px;
  height: 42px;
}

.account-wrapper .char p {
  font-family: 'Diablo3';
  font-size: 20px;
  color: white;
  text-shadow: 1px 2px black;
  font-weight: bold;
  line-height: 18px;
  left: 62px;
}

.account-wrapper .char .name {
  top: 10px;
}

.account-wrapper .char .class {
  top: 40px;
}

.account-wrapper .char .level {
  top: 70px;
}

.account-wrapper .char .plevel {
  width: 240px;
  top: 70px;
  left: 195px;
  text-align: right;
  color: #66d9ff;
  text-shadow: 1px 2px blue;
}

.account-wrapper .char .leaf {
  right: -5px;
  top: 10px;
  clip: rect(0, 24px, 31px, 0px);
}

.account-wrapper .hc_char {
  border: 2px solid red;
}

.account-wrapper .hc_char:hover {
  content: "test";
}

.account-wrapper h1 {
  font-family: 'Diablo3';
  font-weight: bold;
  text-align: center;
}

main {
  position: relative;
}

.char-wrapper {
  width: 350px;
  height: 670px;
  background-color: #404040;
  border-radius: 10px;
}

.char-wrapper .text-wrapper {
  height: 50px;
  padding-top: 2px;
}

.char-wrapper .text-wrapper ul {
  width: 280px;
  margin: 0 auto;
  font-family: 'Diablo3';
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 0 2px 0;
  position: relative;
}

.char-wrapper .text-wrapper ul:last-of-type {
  margin-top: 25px;
}

.char-wrapper .text-wrapper ul li {
  position: absolute;
  left: 0;
}

.char-wrapper .text-wrapper ul li:last-of-type {
  right: 0;
  text-align: right;
}

.char-wrapper hr {
  margin: 10px 0 10px 0;
}

.char-wrapper hr:first-of-type {
  margin: 10px 0 30px 0;
}

.char-wrapper .slot-wrapper {
  height: 430px;
  position: relative;
}

.char-wrapper .slot-wrapper .slot {
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.33);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}

.char-wrapper .slot-wrapper .slot a {
  width: 100%;
  height: 100%;
  display: block;
}

.char-wrapper .slot-wrapper .slot a .img-wrap {
  display: block;
  width: 100%;
  height: 100%;
}

.char-wrapper .slot-wrapper .slot a .img-wrap img {
  position: relative;
}

.char-wrapper .slot-wrapper .slot a .socket {
  position: absolute;
  background: url("../img/socket.png") no-repeat;
  width: 32px;
  height: 32px;
  left: 50%;
  z-index: 1;
}

.char-wrapper .slot-wrapper .slot a .middle_socket {
  top: 50%;
  transform: translate(-50%, -50%);
}

.char-wrapper .slot-wrapper .slot a .torso_socket {
  top: 7.5%;
  transform: translate(-50%, -7.5%);
}

.char-wrapper .slot-wrapper .slot a .torso_socket:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.char-wrapper .slot-wrapper .slot a .torso_socket:last-of-type {
  top: 92.5%;
  transform: translate(-50%, -92.5%);
}

.char-wrapper .slot-wrapper .slot a .legs_socket {
  top: 17%;
  transform: translate(-50%, -17%);
}

.char-wrapper .slot-wrapper .slot a .legs_socket:last-of-type {
  top: 83%;
  transform: translate(-50%, -83%);
}

.char-wrapper .slot-wrapper .slot a .gem {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 21px;
  height: 21px;
  z-index: 2;
}

.char-wrapper .slot-wrapper .slot a .torso_gem_0 {
  top: 25%;
  transform: translate(-50%, -75%);
}

.char-wrapper .slot-wrapper .slot a .torso_gem_2 {
  top: 75%;
  transform: translate(-50%, -25%);
}

.char-wrapper .slot-wrapper .slot a .legs_gem_0 {
  top: 23%;
  transform: translate(-50%, -22%);
}

.char-wrapper .slot-wrapper .slot a .legs_gem_1 {
  top: 76%;
  transform: translate(-50%, -76%);
}

.char-wrapper .slot-wrapper .green {
  background: linear-gradient(#006600, #33cc33);
  border: 2px solid #748e3d;
}

.char-wrapper .slot-wrapper .green:hover {
  border: 2px solid #87a73d;
}

.char-wrapper .slot-wrapper .orange {
  background: linear-gradient(#996600, #ff9900);
  border: 2px solid #b07b38;
}

.char-wrapper .slot-wrapper .orange:hover {
  border: 2px solid #c29337;
}

.char-wrapper .slot-wrapper .yellow {
  background: linear-gradient(#ffaa00, #ffdb4d);
  border: 2px solid #cccc00;
}

.char-wrapper .slot-wrapper .yellow:hover {
  border: 2px solid #ffff66;
}

.char-wrapper .slot-wrapper .blue {
  background: linear-gradient(#0000ff, #0066ff);
  border: 2px solid #0040ff;
}

.char-wrapper .slot-wrapper .blue:hover {
  border: 2px solid #3399ff;
}

.char-wrapper .slot-wrapper .white {
  background: linear-gradient(#4d3300, #805500);
  border: 2px solid #996600;
}

.char-wrapper .slot-wrapper .white:hover {
  border: 2px solid #cc8800;
}

.char-wrapper .slot-wrapper .head-slot {
  width: 66px;
  height: 66px;
  left: 142px;
}

.char-wrapper .slot-wrapper .head-slot img {
  top: -31px;
}

.char-wrapper .slot-wrapper .head-slot .socket {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.char-wrapper .slot-wrapper .shoulders-slot {
  width: 66px;
  height: 88px;
  left: 55px;
  top: 33px;
}

.char-wrapper .slot-wrapper .shoulders-slot img {
  top: -20px;
}

.char-wrapper .slot-wrapper .neck-slot {
  width: 56px;
  height: 56px;
  right: 60px;
  top: 43px;
}

.char-wrapper .slot-wrapper .neck-slot img {
  width: 52px;
  height: 52px;
  top: 1px;
}

.char-wrapper .slot-wrapper .hands-slot {
  width: 66px;
  height: 88px;
  left: 40px;
  top: 133px;
}

.char-wrapper .slot-wrapper .hands-slot img {
  top: -20px;
}

.char-wrapper .slot-wrapper .torso-slot {
  width: 82px;
  height: 115px;
  left: 134px;
  top: 80px;
}

.char-wrapper .slot-wrapper .torso-slot .img-wrap {
  width: 82px;
  height: 115px;
  text-align: center;
  overflow: hidden;
}

.char-wrapper .slot-wrapper .torso-slot .img-wrap img {
  top: -20px;
  left: -1px;
}

.char-wrapper .slot-wrapper .bracers-slot {
  width: 66px;
  height: 88px;
  right: 40px;
  top: 133px;
}

.char-wrapper .slot-wrapper .bracers-slot img {
  top: -20px;
}

.char-wrapper .slot-wrapper .leftFinger-slot {
  width: 42px;
  height: 42px;
  left: 50px;
  top: 230px;
}

.char-wrapper .slot-wrapper .leftFinger-slot img {
  left: -12px;
  top: -12px;
}

.char-wrapper .slot-wrapper .waist-slot {
  width: 82px;
  height: 34px;
  left: 134px;
  top: 200px;
}

.char-wrapper .slot-wrapper .waist-slot img {
  left: 7px;
  top: -15px;
}

.char-wrapper .slot-wrapper .rightFinger-slot {
  width: 42px;
  height: 42px;
  right: 50px;
  top: 230px;
}

.char-wrapper .slot-wrapper .rightFinger-slot img {
  left: -12px;
  top: -12px;
}

.char-wrapper .slot-wrapper .legs-slot {
  width: 66px;
  height: 88px;
  left: 142px;
  bottom: 100px;
}

.char-wrapper .slot-wrapper .legs-slot img {
  top: -25px;
  left: -1px;
}

.char-wrapper .slot-wrapper .mainHand-slot {
  width: 66px;
  height: 130px;
  left: 40px;
  bottom: 15px;
}

.char-wrapper .slot-wrapper .feet-slot {
  width: 66px;
  height: 88px;
  left: 142px;
  bottom: 0px;
}

.char-wrapper .slot-wrapper .feet-slot img {
  top: -20px;
}

.char-wrapper .slot-wrapper .offHand-slot {
  width: 66px;
  height: 130px;
  right: 40px;
  bottom: 15px;
}

.char-wrapper .slot-wrapper .offHand-slot img {
  top: 1px;
}

.char-wrapper .skill-wrapper {
  padding-top: 10px;
}

.char-wrapper .skill-wrapper .active {
  float: left;
  width: 42px;
  height: 42px;
  margin-left: 14px;
  background: url("../img/skill-default.png");
}

.char-wrapper .skill-wrapper .active a label {
  width: 42px;
  height: 42px;
  display: inline-block;
  position: relative;
}

.char-wrapper .skill-wrapper .active a label:before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: url("../img/skill-overlays.png");
}

.char-wrapper .skill-wrapper .active a .left_mouse:before {
  background-position: 0 -1px;
}

.char-wrapper .skill-wrapper .active a .right_mouse:before {
  background-position: -21px -1px;
}

.char-wrapper .skill-wrapper .active a .skill_1:before {
  background-position: 0 -23px;
}

.char-wrapper .skill-wrapper .active a .skill_2:before {
  background-position: -23px -23px;
}

.char-wrapper .skill-wrapper .active a .skill_3:before {
  background-position: 0 -46px;
}

.char-wrapper .skill-wrapper .active a .skill_4:before {
  background-position: -23px -46px;
}

.char-wrapper .passive-wrapper {
  width: 230px;
  margin: 0 auto;
  margin-top: 15px;
}

.char-wrapper .passive-wrapper .passive {
  float: left;
  width: 42px;
  height: 42px;
  margin: 0 7px 0 8px;
  background: url("../img/skill-default.png");
}

.char-wrapper .passive-wrapper .passive a img {
  width: 42px;
  height: 42px;
}

.details-wrapper {
  position: absolute;
  width: 375px;
  height: 300px;
  border: 2px solid black;
  left: 500px;
  top: 50px;
  border-radius: 10px;
  font-size: 26px;
  font-family: 'Diablo3';
}

.details-wrapper td {
  vertical-align: bottom;
  padding-top: 15px;
}

.details-wrapper td:nth-of-type(even) {
  text-align: right;
}

.details-wrapper .bold {
  text-align: center !important;
  padding-top: 5px;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.compare-wrapper {
  width: 660px;
}

.compare-wrapper input[name="search"] {
  margin-right: 15px;
}

.table-wrapper {
  width: 800px;
  margin: 0 auto;
}

.table-wrapper table {
  margin-top: 25px;
  width: 800px;
  border: 2px solid black;
  border-radius: 5px;
}

.table-wrapper table td {
  font-family: 'Diablo3';
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border: 1px dotted black;
}

header nav ul, .account-wrapper, .char-wrapper .skill-wrapper, .char-wrapper .passive-wrapper {
  *zoom: 1;
}

header nav ul:before, .account-wrapper:before, .char-wrapper .skill-wrapper:before, .char-wrapper .passive-wrapper:before, header nav ul:after, .account-wrapper:after, .char-wrapper .skill-wrapper:after, .char-wrapper .passive-wrapper:after {
  content: "";
  display: table;
}

header nav ul:after, .account-wrapper:after, .char-wrapper .skill-wrapper:after, .char-wrapper .passive-wrapper:after {
  clear: both;
}

@font-face {
  font-family: 'Diablo3';
  src: url("exocet-blizzard-light.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

main {
  height: 900px;
  width: 100vw;
  background-color: #d3d3d3;
  padding: 50px;
}
