.input-wrapper {
  width: 530px;
  margin: 0 auto;

  select[name="continent"] {
    width: 130px;
    height: 35px;
    font-family: 'Diablo3';
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    padding-left: 5px;
    vertical-align: bottom;
  }

  input[name="BattleTag"] {
    height: 35px;
    width: 250px;
    font-size: 20px;
    padding: 5px 0 5px 10px;
    border-radius: 5px;
    margin: 0 10px 0 10px;
    vertical-align: bottom;

  }

  input[name="search"] {
    font-family: 'Diablo3';
    font-weight: bold;
    height: 35px;
    width: 120px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: bottom;
  }
} //input-wrapper

.account-wrapper {
  width: 1410px;
  height: 600px;
  margin: 0 auto;
  margin-top: 25px;
  @extend %clearfix;

  .char {
    position: relative;
    float: left;
    width: 450px;
    height: 100px;
    border: 2px solid rgba(0,0,0,0.25);
    background: rgba(0,0,0,0.25);
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 5px -2px black;

    .icon, p, .leaf {
      position: absolute;
    }

    .icon {
      left: 10px;
      top: 10px;
      width: 42px;
      height: 42px;
    }

    p {
      font-family: 'Diablo3';
      font-size: 20px;
      color: white;
      text-shadow: 1px 2px black;
      font-weight: bold;
      line-height: 18px;
      left: 62px;
    } //p

    .name { top: 10px; }

    .class { top: 40px; }

    .level { top: 70px; }

    .plevel {
      width: 240px;
      top: 70px;
      left: 195px;
      text-align: right;
      color: #66d9ff;
      text-shadow: 1px 2px blue;
    }

    .leaf {
      right: -5px;
      top: 10px;
      clip: rect(0, 24px, 31px, 0px);
    }
  } //char

  .hc_char {
    border: 2px solid red;
    &:hover {
      content: "test";
    }
  }

  h1 {
    font-family: 'Diablo3';
    font-weight: bold;
    text-align: center;
  }
}
