.input-wrapper {
  width: 400px;
  margin: 0 auto;

  input[name="BattleTag"] {
    height: 35px;
    width: 250px;
    font-size: 20px;
    padding: 5px 0 5px 10px;
    border-radius: 5px;
  }

  input[name="search"] {
    margin-left: 15px;
    font-family: 'Diablo3';
    font-weight: bold;
    height: 35px;
    width: 120px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
} //input-wrapper

.account-wrapper {
  width: 1410px;
  height: 600px;
  margin: 0 auto;
  margin-top: 25px;
  @extend %clearfix;

  .char {
    position: relative;
    float: left;
    width: 450px;
    height: 100px;
    border: 2px solid rgba(0,0,0,0.25);
    background: rgba(0,0,0,0.25);
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 5px -2px black;

    img {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 42px;
      height: 42px;
    }

    p {
      position: absolute;
      font-size: 20px;
      font-weight: bold;
      line-height: 18px;
      font-family: 'Diablo3';
      color: white;
      left: 62px;
      top: 10px;
      &:last-of-type {
        top: 37px;
      }
    } //p
  } //char

  .hc_char {
    border: 2px solid red;
  }

  h1 {
    font-family: 'Diablo3';
    font-weight: bold;
    text-align: center;
  }
}
