main {
  position: relative;
}
.char-wrapper {
  width: 350px;
  height: 670px;
  background-color: #404040;
  border-radius: 10px;

  .text-wrapper {
    height: 50px;
    padding-top: 2px;

    ul {
      width: 280px;
      margin: 0 auto;
      font-family: 'Diablo3';
      color: white;
      font-size: 20px;
      font-weight: bold;
      padding: 2px 0 2px 0;
      position: relative;

      &:last-of-type {
        margin-top: 25px;
      }

      li {
        position: absolute;
        left: 0;

        &:last-of-type {
          right: 0;
          text-align: right;
        }
      }
    } //ul
  } //text-wrapper

  hr {
    margin: 10px 0 10px 0;
  }

  hr:first-of-type {
    margin: 10px 0 30px 0;
  }

  .slot-wrapper {
    height: 430px;
    position: relative;

    .slot {
      position: absolute;
      border: 2px solid black;
      border-radius: 5px;
      background-color: rgba(0,0,0,0.33);
      box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);

      a {
        width: 100%;
        height: 100%;
        display: block;

        .img-wrap {
          display: block;
          width: 100%;
          height: 100%;

          img {
            position: relative;
          }
        }

        .socket {
          position: absolute;
          background: url("../img/socket.png") no-repeat;
          width: 32px;
          height: 32px;
          left: 50%;
          z-index: 1;
        }

        .middle_socket {
          top: 50%;
          transform: translate(-50%, -50%);
        }

        .torso_socket {
          top: 7.5%;
          transform: translate(-50%, -7.5%);
          &:nth-of-type(2) {
            top: 50%;
            transform: translate(-50%, -50%);
          }
          &:last-of-type {
            top: 92.5%;
            transform: translate(-50%, -92.5%);
          }
        }

        .legs_socket {
          top: 17%;
          transform: translate(-50%, -17%);
          &:last-of-type {
            top: 83%;
            transform: translate(-50%, -83%);
          }
        }

        .gem {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 21px;
          height: 21px;
          z-index: 2;
        }

        .torso_gem_0 {
          top: 25%;
          transform: translate(-50%, -75%);
        }

        .torso_gem_2 {
          top: 75%;
          transform: translate(-50%, -25%);
        }

        .legs_gem_0 {
          top:23%;
          transform: translate(-50%, -22%);
        }

        .legs_gem_1 {
          top: 76%;
          transform: translate(-50%, -76%);
        }
      } //a
    } //slot

    .green {
      background: linear-gradient(#006600, #33cc33);
      border: 2px solid #748e3d;
      &:hover {
        border: 2px solid #87a73d;
      }
    }

    .orange {
      background: linear-gradient(#996600, #ff9900);
      border: 2px solid #b07b38;
      &:hover {
        border: 2px solid #c29337;
      }
    }

    .yellow {
      background: linear-gradient(#ffaa00, #ffdb4d);
      border: 2px solid #cccc00;
      &:hover {
        border: 2px solid #ffff66;
      }
    }

    .blue {
      background: linear-gradient(#0000ff, #0066ff);
      border: 2px solid #0040ff;
      &:hover {
        border: 2px solid #3399ff;
      }
    }

    .head-slot {
      width: 66px;
      height: 66px;
      left: 175px - 33px;

      img {
        top: -31px;
      }

      .socket {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .shoulders-slot {
      width: 66px;
      height: 88px;
      left: 55px;
      top: 33px;

      img {
        top: -20px;
      }
    }

    .neck-slot {
      width: 56px;
      height: 56px;
      right: 60px;
      top: 43px;

      img {
        width: 52px;
        height: 52px;
        top: 1px;
      }
    }

    .hands-slot {
      width: 66px;
      height: 88px;
      left: 40px;
      top: 133px;

      img {
        top: -20px;
      }
    }

    .torso-slot {
      width: 82px;
      height: 115px;
      left: 134px;
      top: 80px;

      .img-wrap {
        width: 82px;
        height: 115px;
        text-align: center;
        overflow: hidden;

        img {
          top: -20px;
          left: -1px;
        }
      }
    }

    .bracers-slot {
      width: 66px;
      height: 88px;
      right: 40px;
      top: 133px;

      img {
        top: -20px;
      }
    }

    .leftFinger-slot {
      width: 42px;
      height: 42px;
      left: 50px;
      top: 230px;

      img {
        left: -12px;
        top: -12px;
      }
    }

    .waist-slot {
      width: 82px;
      height: 34px;
      left: 175px - 41px;
      top: 200px;

      img {
        left: 7px;
        top: -15px;
      }
    }

    .rightFinger-slot {
      width: 42px;
      height: 42px;
      right: 50px;
      top: 230px;

      img {
        left: -12px;
        top: -12px;
      }
    }

    .legs-slot {
      width: 66px;
      height: 88px;
      left: 175px - 33px;
      bottom: 100px;

      img {
        top: -25px;
        left: -1px;
      }
    }

    .mainHand-slot {
      width: 66px;
      height: 130px;
      left: 40px;
      bottom: 15px;
    }

    .feet-slot {
      width: 66px;
      height: 88px;
      left: 175px - 33px;
      bottom: 0px;

      img {
        top: -20px;
      }
    }

    .offHand-slot {
      width: 66px;
      height: 130px;
      right: 40px;
      bottom: 15px;

      img {
        top: 1px;
      }
    }
  } //slot-wrapper

  .skill-wrapper {
    padding-top: 10px;

    a {
      margin: 0 3px 0 9px;

      label {
        width: 42px;
        height: 42px;
        display: inline-block;
        position: relative;
        background: url("../img/skill-default.png");
        &:before {
          position: absolute;
          content: "";
          top: -5px;
          left: 0px;
          transform: translateX(-50%);
          width: 20px;
          height: 20px;
          background: url("../img/skill-overlays.png");
        }
      } //label

      .left_mouse:before {
        background-position: 0 -1px;
      }
      .right_mouse:before {
        background-position: -21px -1px;
      }
      .skill_1:before {
        background-position: 0 -23px;
      }
      .skill_2:before {
        background-position: -23px -23px;
      }
      .skill_3:before {
        background-position: 0 -46px;
      }
      .skill_4:before {
        background-position: -23px -46px;
      }
    } //a
  } //skill-wrapper

  .passive-wrapper {
    width: 230px;
    margin: 0 auto;
    margin-top: 15px;

    a {
      margin: 0 4px 0 8px;

      img {
        width: 42px;
        height: 42px;
        background: url("../img/skill-default.png");
      }
    }
  } //passive-wrapper
} //char-wrapper

.details-wrapper {
  position: absolute;
  width: 375px;
  height: 300px;
  border: 2px solid black;
  left: 500px;
  top: 50px;
  border-radius: 10px;
  font-size: 26px;
  font-family: 'Diablo3';

  td {
    vertical-align: bottom;
    padding-top: 15px;
    &:nth-of-type(even) {
      text-align: right;
    }
  }

  .bold {
    text-align: center !important;
    padding-top: 5px;
    font-weight: bold;
    border-bottom: 2px solid black;
  }
} //details-wrapper
