.char-wrapper {
  width: 350px;
  height: 650px;
  background-color: #cc8800;
  border-radius: 10px;

  .text-wrapper {
    height: 50px;
    padding-top: 2px;

    ul {
      width: 280px;
      margin: 0 auto;
      font-family: 'Diablo3';
      font-size: 20px;
      font-weight: bold;
      padding: 2px 0 2px 0;
      position: relative;

      &:last-of-type {
        margin-top: 25px;
      }

      li {
        position: absolute;
        left: 0;

        &:last-of-type {
          right: 0;
          text-align: right;
        }
      }
    } //ul
  } //text-wrapper

  hr {
    margin: 10px 0 10px 0;
  }

  .slot-wrapper {
    height: 430px;
    position: relative;

    .slot {
      position: absolute;
      border: 2px solid black;
      border-radius: 5px;
      background-color: rgba(0,0,0,0.33);
      box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
    }

    .head-slot {
      width: 66px;
      height: 66px;
      left: 175px - 33px;
    }

    .shoulder-slot {
      width: 66px;
      height: 88px;
      left: 55px;
      top: 33px;
    }

    .amulet-slot {
      width: 56px;
      height: 56px;
      right: 60px;
      top: 43px;
    }

    .glove-slot {
      width: 66px;
      height: 88px;
      left: 40px;
      top: 133px;
    }

    .chest-slot {
      width: 82px;
      height: 115px;
      left: 175px - 41px;
      top: 80px;
    }

    .bracer-slot {
      width: 66px;
      height: 88px;
      right: 40px;
      top: 133px;
    }

    .left_ring-slot {
      width: 42px;
      height: 42px;
      left: 50px;
      top: 230px;
    }

    .belt-slot {
      width: 82px;
      height: 34px;
      left: 175px - 41px;
      top: 200px;
    }

    .right_ring-slot {
      width: 42px;
      height: 42px;
      right: 50px;
      top: 230px;
    }

    .pants-slot {
      width: 66px;
      height: 88px;
      left: 175px - 33px;
      bottom: 100px;
    }

    .weapon-slot {
      width: 66px;
      height: 130px;
      left: 40px;
      bottom: 15px;
    }

    .boot-slot {
      width: 66px;
      height: 88px;
      left: 175px - 33px;
      bottom: 0px;
    }

    .offhand-slot {
      width: 66px;
      height: 130px;
      right: 40px;
      bottom: 15px;
    }
  } //slot-wrapper

  .skill-wrapper {
    padding-top: 10px;

    a {
      pointer-events: none;
      margin: 0 3px 0 9px;

      label {
        cursor: pointer;
        display: inline-block;
        position: relative;
        &:before {
          position: absolute;
          content: "";
          top: -5px;
          left: 0px;
          transform: translateX(-50%);
          width: 20px;
          height: 20px;
          background: url("../img/skill-overlays.png");
        }
        object {
          border-radius: 5px;

          img {
            width: 42px;
            height: 42px;
          }
        }
      } //label

      .left_mouse:before {
        background-position: 0 -1px;
      }
      .right_mouse:before {
        background-position: -21px -1px;
      }
      .skill_1:before {
        background-position: 0 -23px;
      }
      .skill_2:before {
        background-position: -23px -23px;
      }
      .skill_3:before {
        background-position: 0 -46px;
      }
      .skill_4:before {
        background-position: -23px -46px;
      }
    } //a
  } //skill-wrapper

  .passive-wrapper {
    width: 230px;
    margin: 0 auto;
    margin-top: 15px;

    a {
      pointer-events: none;
      margin: 0 4px 0 8px;

      object {
        border-radius: 5px;
      }
    }
  }
} //char-wrapper
