footer {
  width: 100vw;
  height: $footer_height;
  background: linear-gradient(#9a9a9a, #5a5a5a);

  p {
    color: white;
    text-align: center;
    line-height: $footer_height/2;
    font-family: 'Diablo3';
  }
}
