footer {
  z-index: 99;  //always top
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: $footer_height;
  background: linear-gradient(#9a9a9a, #5a5a5a);

  p {
    color: white;
    text-align: center;
    font-family: 'Diablo3';
    &:first-of-type {
      margin-top: 10px;
    }
  }
} //footer
