header {
  width: 100vw;
  height: $header_height;
  background-color: #808080;
  box-shadow: 0 5px 10px #808080;

  h3 {
    font-family: 'Diablo3';
    font-size: 40px;
    text-align: center;
  }

  nav {
    margin-top: 10px;

    ul {
      width: 761px;
      margin: 0 auto;
      @extend %clearfix;

      a {
        float: left;
        font-size: 25px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 2px 4px 2px 4px;
        margin: 0 10px 0 10px;
        &:first-of-type, &:last-of-type {
          margin: 0;
        }
      }
    }
  }
}
