.bg {
  background: url('../img/background.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .landingPage_Wrapper {
    color: white;
    width: 80vw;
    margin: 0 auto;
    height: 20vh;
    padding-top: 45%;
    transform: translateY(-50%);
    font-family: 'Diablo3';
    font-size: 40px;
    text-align: center;

    h1 {
      margin-bottom: 50px;
    }

    a {
      padding: 5px 10px 5px 10px;
      color: white;
      font-weight: bold;
      border: 2px solid white;
      border-radius: 5px;
    }

  }
}
