//scss variables
$header_height: 120px;
$footer_height: 55px;

//scss imports
@import "scssFiles/header.scss";
@import "scssFiles/footer.scss";
@import "scssFiles/landingPage";
@import "scssFiles/account_select";
@import "scssFiles/char_overview";
@import "scssFiles/char_compare";


//scss clearfix
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//inlude new Font
@font-face {
  font-family: 'Diablo3';
  src: url('exocet-blizzard-light.woff') format('woff');
}

//scss defaults
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

main {
  height: 900px;
  width: 100vw;
  background-color: #d3d3d3;
  padding: 50px;
}
